//! NEED TO BE IN GLOBAL PARTIAL

$colorPrimary: #F50057
$colorPrimaryDark: #CC1355
$colorWhite: #ffffff
$colorWhiteLight: rgba(255,255,255,0.9)
$colorBlack: #000000

a
  text-decoration: none
  color: inherit

.button
  min-width: 162px
  height: 32px
  font-size: 1.125rem
  border-radius: 3px
  text-align: center
  padding: 5px
  display: inline-flex
  justify-content: center
  align-items: center
  box-sizing: border-box
  
  &Primary
    @extend .button
    background-color: $colorPrimary

  &Secondary
    @extend .button
    background-color: transparent
    border: 1px solid $colorWhiteLight
    color: $colorWhiteLight

.backgroundImage
  background-position: center center
  background-size: cover

//! NEED TO BE IN GLOBAL PARTIAL

.projectsTitle, .skillsTitle, .contactTitle
    &::after
      content: "."
      color: $colorPrimary

.welcome
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  @extend .backgroundImage
  background-attachment: fixed
  background-color: $colorBlack
  &::after
    content: ""
    background-color: $colorPrimaryDark
    width: 100%
    height: 10px
    position: absolute
    top: 0
    left: 0
    right: 0
  &Title
    text-align: center
  &Span
    &Title
      font-size: 4rem
    &Subtitle
      display: block
      font-size: 3rem
      font-weight: normal
      margin-top: -16
  &Buttons
    display: flex
    justify-content: center
  &ButtonPrimary
    @extend .buttonPrimary
    margin-right: 5px
  &ButtonSecondary
    @extend .buttonSecondary
    margin-left: 5px

.projects
  background-color: $colorBlack
  border: 1px solid $colorBlack
  padding: 67px
  &Title
    font-size: 2rem
    text-align: center
    margin-bottom: 68px
    margin-top: 0

.project
  display: flex
  max-width: 1000px
  margin-left: auto
  margin-right: auto
  &Separator
    margin: 28px auto
    max-width: 1000px
    border: 1px solid #ffffff31
  &Separator:last-child
    display: none;
  &Img
    max-width: 347px
    border-radius: 3px
  &Content
    margin-left: 32px
  &Title
    margin: 0
    font-size: 1.875rem
    margin-bottom: 7px
  &Tags
    margin-bottom: 14px
  &Tag
    border: 2px solid $colorPrimary
    border-radius: 7px
    color: $colorPrimary
    font-weight: bold
    padding: 2px 4px
    margin-right: 7px 
  &Text
    margin: 0

.skills
  padding: 67px
  background-color: $colorBlack
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: relative
  @extend .backgroundImage
  &::before
    content: ""
    position: absolute
    bottom: 0
    top: 0
    left: 0
    right: 0
    background: radial-gradient(circle, #0000008a 0%, rgba(0,0,0,1) 100%);
    z-index: 1
  &Title
    margin-top: 0
    font-size: 1.875rem
    text-align: center
    z-index: 2
  &Row
    margin-bottom: 7px
    z-index: 2
  &Logo
    z-index: 2
    height: 40px
    margin-right: 24px
    &:last-child
      margin-right: 0

.contact
  background-color: $colorPrimaryDark
  padding: 67px
  &Title
    margin-top: 0
    text-align: center
  &Content
    display: flex
    max-width: 1000px
    margin-left: auto
    margin-right: auto
  &Form
    display: flex
    flex-direction: column
    flex: 1
  &Label
    margin-bottom: 3.5px
    font-weight: 500
  &Input, &Textarea, &Submit
    border-radius: 3px
    margin-bottom: 7px
    padding: 7px
  &Input
    border: none
  &Textarea
    border: none
    resize: vertical
    height: 100px
  &Submit
    border: none
  &Separator
    width: 28px
  &Links
    flex: 1
    padding-top: 22px
  &Link
    display: flex
    align-items: center
    margin-bottom: 7px
    &Img
      margin-right: 7px