@import "../styles/_global"
@import "../styles/_normalize"

.noOverflow
  overflow-x: hidden
  max-width: 100vw

.hiddenImg
  height: 0.063rem

.projectsTitle, .skillsTitle, .contactTitle
    &::after
      content: "."
      color: $colorPrimary

.welcome
  height: 30rem
  display: flex
  justify-content: center
  align-items: center
  background-attachment: fixed
  background-color: $colorBlack
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
  &Topbar
    content: ""
    background-color: $colorPrimaryDark
    width: 100%
    height: 0.625rem
    position: absolute
    top: 0
    left: 0
    right: 0
  &Wrapper
    display: flex
    align-items: center
    padding: 0 0.875rem
  &ProfilPic
    height: 9.875rem
    width: 9.875rem
    border-radius: 100%
    margin-right: 1.75rem
  &Title
    margin: 0
    margin-top: -0.75rem
  &Span
    &Title
      font-size: 3.688rem
    &Subtitle
      display: block
      font-size: 2.75rem
      font-weight: normal
      margin-top: -16
  &Buttons
    margin-top: 0.875rem
    margin-left: 0.188rem
  &ButtonPrimary
    @extend .buttonPrimary
    margin-right: 0.313rem
  &ButtonSecondary
    @extend .buttonSecondary
    margin-left: 0.313rem

@supports (-webkit-touch-callout: none)
  /* CSS specific to iOS devices */ 
  .welcome
    background-attachment: scroll

@media screen and ( max-width: 600px )
  .welcome
    min-height: 75vh
    height: auto
    // justify-content: flex-start
    &ProfilPic
      display: none
    &Title
      text-align: left
    &Span
      &Title
        font-size: 2.8rem
      &Subtitle
        font-size: 1.6rem
    &Buttons
      flex-wrap: wrap
      justify-content: start
    &ButtonPrimary
      margin-bottom: 0.438rem
      margin-right: 0
      width: 100%
    &ButtonSecondary
      margin-left: 0
      width: 100%

@media screen and ( max-width: 430px )
  .welcome
    &Span
      &Title
        font-size: 2.4rem
      &Subtitle
        font-size: 1.4rem

.projects
  background-color: $colorBlack
  border: 0.063rem solid $colorBlack
  padding: 4.188rem 0.875rem
  &Title
    font-size: 2rem
    text-align: center
    margin-bottom: 4.25rem
    margin-top: 0

.project
  display: flex
  width: 62.5rem
  max-width: 100%
  margin-left: auto
  margin-right: auto
  &Wrapper:last-child
    .projectSeparator
      display: none
  &Separator
    margin-bottom: 1.75rem
    margin-top: 1.75rem
    margin-left: auto
    margin-right: auto
    max-width: 62.5rem
    border: 0.063rem solid #ffffff31
  &Img
    max-width: 21.688rem
    min-width: 21.688rem
    min-height: 11.375rem
    max-height: 11.375rem
    border-radius: 0.188rem
  &Content
    margin-left: 2rem
    display: flex
    flex-direction: column
  &Title
    margin: 0
    font-size: 1.875rem
    margin-bottom: 0.438rem
  &Tags
    display: flex
    flex-wrap: wrap
    margin-bottom: 0.438rem
  &Tag
    border: 0.125rem solid $colorPrimary
    border-radius: 0.438rem
    color: $colorPrimary
    font-weight: bold
    padding: 0.125rem 0.313rem
    margin-right: 0.438rem 
    margin-bottom: 0.438rem
  &Text
    margin: 0
    flex: 1
  &Btn
    @extend .buttonSecondary
    margin-top: 0.875rem
    color: $colorPrimary
    border-color: $colorPrimary

@media screen and (max-width: 750px)
  .project
    flex-direction: column
    &Content
      margin-left: 0
      margin-top: 0.875rem
    &Img
      margin-left: auto
      margin-right: auto
      width: 100%
      max-width: 100%
      min-width: auto
      max-height: initial
      

.skills
  padding: 4.188rem
  background-color: $colorBlack
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: relative
  &Shadowing
    content: ""
    position: absolute
    bottom: 0
    top: 0
    left: 0
    right: 0
    background: radial-gradient(circle, #0000008c 0%, #000000 100%);
    z-index: 1
  &Title
    margin-top: 0
    font-size: 1.875rem
    text-align: center
    z-index: 2
  &Row
    display: flex
    justify-content: center
    flex-wrap: wrap
    z-index: 2
    width: 100%
    max-width: 100%
    padding: 0rem 0.875rem
  &Logo
    margin-bottom: 0.875rem!important
    z-index: 2
    height: 2.5rem
    margin: 0 0.75rem

.contact
  background-color: $colorPrimaryDark
  padding: 4.188rem 0.875rem
  &Title
    margin-top: 0
    text-align: center
    &::after
      color: black
  &Content
    display: flex
    max-width: 62.5rem
    margin-left: auto
    margin-right: auto
  &Form
    display: flex
    flex-direction: column
    flex: 1
  &Label
    margin-bottom: 3.0.313rem
    font-weight: 600
    display: flex
    flex-direction: column
  &Input, &Textarea, &Submit
    border-radius: 0.188rem
    margin-bottom: 0.438rem
    padding: 0.438rem
  &Input
    border: none
  &Textarea
    border: none
    resize: vertical
    height: 6.25em
  &Submit
    border: none
    background-color: white
    font-weight: bold
  &Separator
    width: 1.75rem
  &Links
    flex: 1
    padding-top: 1.375rem
    white-space: pre-wrap
    text-overflow: ellipsis
  &Link
    display: flex
    align-items: center
    margin-bottom: 0.438rem
    &Img
      margin-right: 0.438rem

@media screen and (max-width: 750px)
  .contact
    &Content
      flex-direction: column