$colorPrimary: #F50057
$colorPrimaryDark: #CC1355
$colorWhite: #ffffff
$colorWhiteLight: rgba(255,255,255,0.9)
$colorBlack: #000000

.buttons
  min-width: 162px
  height: 32px
  font-size: 1.125rem
  
  &Primary
    background-color: 